@model ConfirmationViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="progress" style="width:50%; height:50px">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
         aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
        80% Complete (success)
    </div>
</div>

<form asp-action="Confirm" asp-controller="Transaction" method="post">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <input type="hidden" asp-for="TransactionId">

    <div class="row">

        <div class="form-group col-md-3 col-lg-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirmation Code" asp-for="Code">

        </div>
    </div>
    <div class="row">
        <div>
            <button type="submit" class="btn btn-primary offset-2" >Submit</button>

        </div>

    </div>

</form>