
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="alert alert-success" style="height:100px">
        <strong>Success!</strong> Your transfer has been sucessful <span><a href="@Url.Action("Index","Home")"> Go to dashboard</a> </span>
    </div>

 